<div id="login">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <p>
      <label>
        <%= f.label :username %><br />
        <%= f.text_field :username, :class => "input" %>
      </label>
    </p>
    <p>
      <label>
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => "input" %>
      </label>
    </p>
    <p>
      <label>
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => "input" %>
      </label>
    </p>
    <p>
      <label>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "input" %>
      </label>
    </p>
    
    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %> <br />
        <%= render :partial => "devise/shared/links" %>
      </div>
    <% end -%>
    <p class="submit">
      <%= f.submit "Sign Up", :class => "button-primary" %><br />
    </p>
  <% end %>
  <script type="text/javascript">
    function wp_attempt_focus(){
      setTimeout( function(){ try{
          d = document.getElementById('user_login');
          d.focus();
          d.select();
        } catch(e){}
      }, 200);
    }

    wp_attempt_focus();
    if(typeof wpOnload=='function')wpOnload();
  </script>
</div>


<link rel='stylesheet' id='tabs_css-css'  href='https://s-ssl.wordpress.com/wp-content/themes/h4/tabs/tab.css?m=1320801719g&#038;ver=20110821' type='text/css' media='all' />
<link rel='stylesheet' id='post-reactions-css'  href='https://s-ssl.wordpress.com/wp-content/mu-plugins/post-flair/style.css?m=1320688950g&#038;ver=3' type='text/css' media='all' />
<script type="text/javascript">
  // <![CDATA[
  (function() {
    try{
      if ( window.external &&'msIsSiteMode' in window.external) {
        if (window.external.msIsSiteMode()) {
          var jl = document.createElement('script');
          jl.type='text/javascript';
          jl.async=true;
          jl.src='/wp-content/plugins/ie-sitemode/custom-jumplist.php';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(jl, s);
        }
      }
    }catch(e){}
  })();
  // ]]>
</script>