<center />
Hello, <%= @sender.username %> was send you a replied message on <%= link_to "MyPartner-Site", "http://electric-robot-8555.heroku.com" %> :
<hr width="50%"/>
<table>
  <tr>
    <th style="text-align: left">Message Content</th>
    <td>:</td>
    <td><%= @message.text %></td>
  </tr>
  <tr>
    <th style="text-align: left">Reply</th>
    <td>:</td>
    <td><%= @reply.content %></td>
  </tr>
</table>
<hr width="50%"/>
You can check the message <%= link_to  "HERE", "#{@url}" %><br />
Thanks, <strike>Fellas</strike>!