<div id="choose_recipients">
  <% @home_class = "current" %>
  <% count = 0  %>
  <%= form_for @message, :url => create_message_path, :html => { :multipart => true } do |f| %>
    <center>
      <table>
        <tr>
          <th>Recipients</th>
          <td>:</td>
          <td>
            <% @partners.each_with_index do |partner, index| %>
              <%- unless partner.email.eql?(current_user.email) %>
                <% count += 1 %>
                <% name = partner.username.to_s + " ( " + partner.email + " )" %>
                <%= check_box_tag "message[recipients_attributes][#{index}][user_id]", partner.id %> <%= name %>
                <br/>
              <%- end %>
            <% end %> <br />
            
          </td>
        </tr>
        <tr>
          <th>Attachments</th>
          <td>:</td>
          <td> <%= file_field_tag "message[attachments_attributes][1][attached_file]" %>  </td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>:</td>
          <td><%= f.text_field "subject" %></td>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </tr>
        <tr>
          <th>Text</th>
          <td>:</td>
          <td><%= f.text_area "text" %></td>
        </tr>
      </table>
      <%= submit_tag "Submit", :class => "button-primary" %>
    <% end %>
</div>