<div id="choose_recipients">
  <!--        Script by hscripts.com          -->
  <!--        copyright of HIOX INDIA         -->
  <!-- Free javascripts @ http://www.hscripts.com -->
  <script type="text/javascript">
    checked=false;
    function checkedAll (new_message) {
      var aa= document.getElementById('new_message');
      if (checked == false)
      {
        checked = true
      }
      else
      {
        checked = false
      }
      for (var i =0; i < aa.elements.length; i++)
      {
        aa.elements[i].checked = checked;
      }
    }
  </script>
  <!-- Script by hscripts.com -->

  <% @home_class = "current" %>
  <% count = 0  %>
  <%= form_for @message, :url => create_message_path, :html => { :multipart => true } do |f| %>
    <center>
      <table>
        <tr>
          <th>Recipients</th>
          <td>:</td>
          <td>
            <input type='checkbox' name='checkall' class="button-primary" onclick='checkedAll(new_message);'> Select All<br /><br />
            <% @partners.each_with_index do |partner, index| %>
              <%- unless partner.email.eql?(current_user.email) %>
                <% count += 1 %>
                <% name = partner.username.to_s + " ( " + partner.email + " )" %>
                <%= check_box_tag "message[recipients_attributes][#{index}][user_id]", partner.id %> <%= name %>
                <br/>
              <%- end %>
            <% end %> <br />
          </td>
        </tr>
        <tr>
          <th>Attachments</th>
          <td>:</td>
          <td> <%= file_field_tag "message[attachments_attributes][1][attached_file]" %>  </td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>:</td>
          <td><%= f.text_field "subject" %></td>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </tr>
        <tr>
          <th>Text</th>
          <td>:</td>
          <td><%= f.text_area "text" %></td>
        </tr>
      </table>
      <%= submit_tag "Submit", :class => "button-primary" %>
    <% end %>
</div>