<div class="message">
  <h1><%= current_user.username %> - ( <%= @message.count %> Email Sended ) </h1>
  <hr class="line" />
  <center>
    <table>
      <tr>
        <th>No</th>
        <th>Subject</th>
        <th>Recipients</th>
        <th>Replies</th>
        <th>Date and Time</th>
      </tr>
      <% count = 0 %>
      <% @message.each do |message| %>
        <% @recipient = message.recipients   %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= link_to "#{message.subject}", "/reply/#{message.id}" %> </td>
          <td>( <%= @recipient.count %>  person )</td>
          <td>Replies</td>
          <td>( <%= message.created_at %> )</td>
        </tr>
      <% end %>
    </table>
  </center>
  <hr class="line" />
  <p>Company Name</p>
</div>