<% if current_user.is_admin %>
  <div id="groups">
    <%= form_tag do %>
      <center />
      <h1>Listing groups</h1>
      <p style="font-size: 15px"><%= link_to 'Create New Group', new_group_path %></p>
      <table>
        <tr>
          <th>No</th>
          <th colspan="4" style="text-align: left;">Name</th>
        </tr>
        <% count = 0 %>
        <% @groups.each do |group| %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= group.name %></td>
            <td><%= link_to 'Show', group %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
