<div id="home">
  <% @home_class = "current" %>
  <center />
  <%= form_tag root_path do %>
    <%= text_field_tag(:keyword, "", :class => "input", :onblur => "if (this.value=='') {this.value='Searching groups...'; }", :onfocus => "if (this.value=='Searching groups...') {this.value=''; }", :value => "Searching groups...") %>
    <%= submit_tag "Search", :class => "button-primary" %>
  <% end %>
  <% if @groups.count==0 %>
    <% "" %>
  <% else %>
    <%= form_tag do %>
      <% if @keyword!=nil %>
        <p class="p_home"><%= "Result with keyword \"#{@keyword}\" is :" %><br />
          <% @groups.each do |g| %>
            <% @group_name = g.name %>
            <%= link_to "#{@group_name}", "/choose_recipients/#{g.id}" %><br />
          <% end %>
        </p>
      <% else %>
        <%= "" %>
      <% end %>
    <% end %>
  <% end %>
</div>